@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #f0f7ed;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #25a8ff;
        border-radius: 100vh;
        border: 3px solid #25a8ff;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #25a8ff;
    }
}